.encabezado{
    background-color: #034d8e ;
   
}
.menu{
    /* background-color: #6da752; */
    background-color: #595f58;
}


.dropdown-item:focus {
    color: #19191a;
    background-color: #9c9ca0;
  }

  .dropdown-item:hover {
    color: #19191a;
    background-color: #9c9ca0;
  }

  /* .navbar-toggler:hover {
    color: #19191a;
    background-color: #9c9ca0;
  } */