.encabezado{
    background-color: #034d8e !important;
   color: white;
   
}
.boton{
  color: #1b71b8!important;
border-width: 0px!important;
border-radius: 37px !important;
font-size: 22px !important;
font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif!important;
font-weight: 600!important;
background: white !important;
}
.text-gris{
  color:#666666
}
.text-menu{
color: white;
font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif !important;
font-size: 14px !important;
}
.text-menu:hover{
  color:#eee7e7a9;
  }
.menu{
    /* background-color: #6da752; */
    background-color: #034d8e;
    color: white !important;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size: 14px;
}
.text-font{
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif !important;
  font-size: 14px !important;
}

.dropdown-item:focus {
    color: white;
    background-color: #9c9ca0;
  }

  .dropdown-item:hover {
    color: white;
    background-color: #9c9ca0;
  }

  /* .nav-link:focus {
    color: #19191a;
    background-color: #9c9ca0;
  } */